* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 767px;
  height: auto;
  background-image: url('images/brkgrd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
}

.menu {
    color: #000;
    padding-left: 7%;
    padding-top: 5%;
}

#navigation,
#top-bar {
    display: none;
}

#introduction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 7%;
}

.introduction-greet {
    color: #ec5242;
    font-size: larger;
}

.introduction-h1 {
    font-weight: bolder;
    color: #ec5242;
    font-size: xx-large;
}

.introduction-para {
    border: 2px solid #fff;
    background-color: #d3ded3;
    padding: 3%;
    margin: 5% 5% 5% 0;
}

.introduction-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#program-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.05fr 0.75fr 0.1fr;
    gap: 10px;
    padding: 5% 7% 0 7%;
    background-image: url('images/dark.jpg');
    background-size: contain;
    color: #fff;
}

#program-section > h2 {
    text-align: center;
}

#program-section > hr {
    place-self: center;
    width: 8%;
    border: 1px solid #ec5242;
}

#programs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.program {
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
    padding: 3% 5%;
    gap: 5px;
    background-color: #272a31;
}

.program > img {
    width: 40%
}

.program > h4 {
    padding-left: 0;
    color: #ec5242;
    font-weight: bolder;
}

.program-btn {
    place-self: center;
    width: 60%;
    margin-top: 20px;
    padding: 4%;
    background-color: #ec5242;
    color: #fff;
    border: none;
    font-weight: bolder;
}

.whole-program {
    display: none;
}

#speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 3%;
    background-color: #fff;
}

#speakers > hr {
    width: 8%;
    margin-bottom: 15px;
}

#featured-speakers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
}

.speaker {
    border: 1px solid green;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr;
    padding: 2%;
}

.speaker-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.15fr 0.05fr 0.6fr;
    gap: 5px;
}

.speaker-info > hr {
    width: 8%;
}

#partner {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 10px;
    padding: 7%;
    background: #272a31;
  }

#partner > hr {
    width: 5%;
    border: 1px solid #ec5242;
}

  .partner-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #partner img {
    width: 27%;
    margin: 0 3%;
    height: 27%;
    filter: invert(70%) sepia(28%) saturate(4%) hue-rotate(357deg) brightness(106%) contrast(97%);
  }

  #logo-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 2% 8%;
    background-color: #fff;
  }

  @media only screen and (min-width: 768px) {
    body {
        max-width: 100%;
    }

    #mobile-menu {
        display: none;
    }

    #top-bar {
        background: #272a31;
        height: 4vh;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 7%;
    }

    #top-bar a {
        text-decoration: none;
        color: #fff;
        font-size: 0.8rem;
        margin: auto 1%;
    }

    #top-bar i {
        font-size: 1.2rem;
        margin-left: 1%;
    }

    #navigation {
        display: flex;
        justify-content: center;
        background-color: #fff;
        padding: 0 7%;
    }

    #desktop-nav {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-left: auto;
    }

    #desktop-nav > li {
        list-style-type: none;
    }

    #desktop-nav a {
        text-decoration: none;
    }

    #page-logo {
        width: 20%;
        height: 8%;
    }

    .nav-list {
        color: #272a31;
    }

    #active {
        color: hsl(6, 82%, 59%);
    }

    #nav-btn {
        padding: 8px;
        background-color: #fff;
        color: #ec5242;
        font-weight: bolder;
        border: 2px solid #ec5242;
    }

    #nav-btn:hover {
        cursor: pointer;
        color: #fff;
        background-color: #ec5242;
        padding: 10px;
        border: none;
    }

    #introduction {
        padding: 7% 20% 7% 7%;
    }

    #program-section {
        display: flex;
        flex-direction: column;
    }

    #programs {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }

    .program {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .program-btn {
        display: none;
    }

    .whole-program {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4%;
    }

    .whole-program > a {
        color: #fff;
        font-weight: bolder;
    }

    #featured-speakers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 2% 7%;
    }

    #partner {
        padding: 4%;
    }

    .partner-logo {
        flex-wrap: nowrap;
    }

      #partner img {
        width: 18%;
        margin: 0 1.5%;
        height: 18%;
    }  
}